<!DOCTYPE html>
<html>
<head>
  <title>UPWin Casino</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>🎰 Welcome to UPWin</h1>
  <p>Choose your game or deposit to start playing.</p>
  <nav>
    <a href="/deposit"><img src="/static/icons/deposit.svg"></a>
    <a href="/chicken"><img src="/static/icons/chicken.svg"></a>
    <a href="/aviator"><img src="/static/icons/aviator.svg"></a>
    <a href="/loot_drop"><img src="/static/icons/bonus.svg"></a>
    <a href="/leaderboard"><img src="/static/icons/leaderboard.svg"></a>
  </nav>
  <script>
    const tg = window.Telegram?.WebApp;
    if (tg) document.body.classList.add(tg.colorScheme === "dark" ? "dark" : "light");
  </script>
</body>
</html>
